.container{
  margin: 2rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-full{
  width: 100%;
}

.card-desc{
  max-height: 200px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.mt-1{
  margin-top: 1rem !important;
}

.mb-1{
  margin-bottom: 1rem !important;
}

.ml-4{
  margin-left: 4rem !important;
}

.ml-1{
  margin-left: 1rem !important;
}

.card-container{
  margin: 2rem;
}

.card-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}