.container{
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

.w-full{
  width: 100%;
}

.mt-1{
  margin-top: 1rem !important;
}

.mb-1{
  margin-bottom: 1rem !important;
}

.ml-4{
  margin-left: 4rem !important;
}

.ml-1{
  margin-left: 1rem !important;
}